<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--表單項，自定義組件-->
    <div id="app">
        精通的語言：<br>
        <input type="checkbox" v-model="language" value="Java">Java <br>
        <input type="checkbox" v-model="language" value="JS">JS <br>
        <input type="checkbox" v-model="language" value="CSS">CSS <br>
        選中了:{{language.join(",")}}
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                language: ["Java"]
            }
        })
    </script>
</body>
</html>